/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* General */

html {
  background-image: url("/conexusBG.avif"), linear-gradient(#000000, #010020);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #010020;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "PT Serif Caption", serif;
  color: #dedede;
  font-size: 1em;
  word-spacing: 0.2em;
  line-height: 1.6em;
  padding-bottom: 7.5vw;
}

html::-webkit-scrollbar {
  width: 0px;
}

button {
  cursor: pointer;
}


/* Pages */

.tiles-collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  height: auto;
  margin: 1vw 2.5vw;
  padding: 2vw;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(51, 226, 230, 0.1));
  border: 0.1vw solid rgba(51, 226, 230, 0.5);
  border-radius: 2.5vw;
  filter: drop-shadow(0 0 1vw rgba(51, 226, 230, 0.25));
  -webkit-backdrop-filter: blur(2vw);
  backdrop-filter: blur(2vw);
  overflow-y: hidden;
}

.tiles-collection::-webkit-scrollbar {
  height: 0.5vw;
}

.tiles-collection::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.tiles-collection::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(51, 226, 230, 0.5), rgba(0, 0, 0, 0));
  border-radius: 0.5vw;
}

.tiles-collection-legend {
  font-size: 3vw;
  line-height: 3vw;
  padding-left: 7vw;
  margin: 2vw auto 0 auto;
  color: rgba(51, 226, 230, 0.85);
  -webkit-text-stroke: 0.03vw #33E2E6;
  text-shadow: 0 0 1vw rgba(51, 226, 230, 0.4);
}

@media only screen and (max-width: 600px) {
  .tiles-collection-legend{
    font-size: 1.5em;
    line-height: 1.5em;
  }
}