---
import Layout from "../layouts/Layout.astro";
import TilesCollection from "../components/TilesCollection.svelte";

const title = "The Dischordian Saga | CoNexus";
const header = "The Dischordian Saga";
const subheading = `
The Dischordian Saga led to the creation of CoNexus and tells the epic narrative of wars between Artificial Intelligence and Humanity.
<a href="https://magiceden.io/collections/ethereum/0xfa511d5c4cce10321e6e86793cc083213c36278e" target="_blank">Potentials</a>
vote on
<a href="https://governance.degenerousdao.com/" target="_blank">story nodes</a>
weekly, thus activating CoNexus story games and guiding the franchise's direction.
`;
const arrow = true;
---

<Layout {title} {header} {subheading} {arrow}>
  <TilesCollection sectionName="The Dischordian Saga" client:load />
</Layout>
